<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>List Item</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>List Item</h1>
                </div>
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            <div class="row mt-4">
            <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{grocery.item_name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{grocery.item_quantity}}</h6>
                          <p class="text-success">{{grocery.choose}}</p>
                          
                        </div>
                      </div>
                      
                </div>